<h3>
  <%= @project.name %> - <%= if @project.customer
                               @project.customer.name
                             end
%>
</h3>

<%= render 'show', project: @project %>
<%= link_to 'Retour', url_for(:back) %>


